<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div *ngIf="loading" class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
      <p>A obter a tua localização...</p>
    </div>

    <ion-text color="danger" *ngIf="error && !loading">
      <div class="ion-text-center ion-padding">
        <ion-icon name="alert-circle-outline" size="large"></ion-icon>
        <p>{{ error }}</p>
        <ion-button (click)="loadWeather()">Tentar novamente</ion-button>
      </div>
    </ion-text>

    <ion-card *ngIf="weather && !loading && !error">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="location-outline"></ion-icon>
          {{ coords?.lat | number:'1.2-2' }}, {{ coords?.lon | number:'1.2-2' }}
        </ion-card-subtitle>
        <ion-card-title
          >{{ weather.emoji }} {{ weather.description }}</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        <h1>{{ weather.temperature }}°C</h1>
        <p>Vento: {{ weather.windspeed }} km/h</p>
      </ion-card-content>
    </ion-card>

    <ion-button
      expand="block"
      fill="clear"
      (click)="loadWeather()"
      *ngIf="!loading"
    >
      <ion-icon slot="start" name="refresh-outline"></ion-icon>
      Refresh
    </ion-button>
  </div>
</ion-content>
