<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Photo from Camera</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="example-content">
    @if ( photoTaken) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Photo</ion-card-title>
        <ion-card-subtitle>Photo taken with the camera</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-img [src]="photoTaken" alt="Photo taken with the camera"></ion-img>
      </ion-card-content>
    </ion-card>
    }
    <ion-button
      shape="round"
      fill="outline"
      color="primary"
      (click)="takePhoto()"
    >
      Take a Photo
    </ion-button>
  </div>
</ion-content>
